<!doctype html>{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src="{% static 'smart-2.10.min.js' %}"></script>
<script>
    var csrf = "{{ csrf_token }}";
    var models = {{ models|safe }};
</script>
<script src="{% static 'script.js' %}"></script>
<body>

<div id="menu">
    <ul>
        {% for name, data in pymodels.items %}
            <li>
                <a href="javascript:void(0)" onclick="load_page({% url "mainview" model=name %})">
                    {{ data.title|capfirst }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

<div id="main">
    {% block content %}{% endblock content %}
</div>

</body>
</html>