{% extends "base.html" %}

{% block content %}
    <script id="entries_template" type="text/x-jsmart-tmpl">
        {% verbatim %}
            <table border="1" id="data">

                <tr>
                    <th>
                        id
                    </th>
                    {foreach $models[$model_name].fields as $f}
                        <th>
                            {$f.title}
                        </th>
                    {/foreach}
                </tr>

                {foreach $entires as $entry}
                    <tr>
                        <td>
                            {$entry.id}
                        </td>
                        {foreach $models[$model_name].fields as $f}
                            <td>
                                <span onclick="setInput(this, '{$f.type}', '/{$model_name}/')"
                                      data-name="{$f.id}" data-id="{$entry.id}">
                                    {$entry[$f.id]}
                                </span>
                            </td>
                        {/foreach}
                    </tr>
                {/foreach}

            </table>
        {% endverbatim %}




    </script>

    <script id="form_template" type="text/x-jsmart-tmpl">
        {% verbatim %}
            <div id="form">
                <form action="/{$model_name}/" method="post">
                    <fieldset>
                        <legend>
                            Новая запись
                        </legend>
                        <input type="hidden" name="csrfmiddlewaretoken" value="{$csrf}"/>
                        <input type="submit" name="new"/>
                        <ul>
                            {foreach $models[$model_name].fields as $f}
                                <label>{$f.title}</label>
                                <input type="text" data-type="{$f.type}" name="{$f.id}"
                                value="{$values[$f.id]}"/>
                                {if $errors[$f.id]}
                                    <span class="error">{$errors[$f.id]}</span>
                                {/if}
                            {/foreach}
                        </ul>
                    </fieldset>
                </form>
            </div>
        {% endverbatim %}
    </script>

    <div id="entries_content"></div>

    <div id="form_content"></div>
{% endblock content %}